/* smart phone and android viewport */
@media(max-width:768px){
	.d_mb{
	display:none;
}
 .container{
   width:100%;
 }
 .col-mb1{
	width:8.33%;
	padding:0 15px;
}
.col-mb2{

	width:16.66%;
	padding:0 15px;
}
.col-mb3{
	width:25%;
	padding:0 15px;
}
.col-mb4{
	width:33.33%;
	padding:0 15px;
}
.col-mb5{
	width:41.66%;
	padding:0 15px;
}
.col-mb6{
	width:50%;
	padding:0 15px;
}
.col-mb7{
	width:58.33%;
	padding:0 15px;
}
.col-mb8{
	width:66 .66%;
	padding:0 15px;
}
.col-mb9{
	width:75%;
	padding:0 15px;
}
.col-mb10{
	width:83.33%;
	padding:0 15px;
}.col-mb11{
	width:91.66%;
	padding:0 15px;
}.col-mb12{
	width:100%;
	padding:0 15px;
	position:relative;
}
.mb{
	flex:none;
}
.nav_item{
	padding-left:0px;
}
.email {
    width: 236px;
    height: 219px;
    background-color: white;
    padding: 30px 0;
    margin-top: 20px;
    text-align: center;
    box-shadow: 0 0 30px #0000001c;
}
.portfolio_list {
    display: flex;
    list-style: none;
    padding-top: 40px;
    padding-right: 59px;
    padding-bottom: 20px;
    gap: 0;
    font-size: 14px;
    font-weight: 400;
}

.third_section_img img {
    width: 100%;
    background-position: center;
    background-size: cover;
    margin-bottom: -10px;
    object-fit: cover;
}
.ban{
	width:100%;

}
}


/* tap and ipad viewport */

@media (min-width:768px) and (max-width:999px){
.d_tap{
	display:none;
}
.container{
   width:100%;
 }
 
.col-tap1{
	width:8.33%;
	padding:0 15px;
}
.col-tap2{
	width:16.66%;
	padding:0 15px;
}
.col-tap3{
	width:25%;
	padding:0 15px;
}
.col-tap4{
	width:33.33%;
	padding:0 15px;
}
.col-tap5{
	width:41.66%;
	padding:0 15px;
}
.col-tap6{
	width:50%;
	padding:0 15px;
}
.col-tap7{
	width:58.33%;
	padding:0 15px;
}
.col-tap8{
	width:66.66%;
	padding:0 15px;
}
.col-tap9{
	width:75%;
	padding:0 15px;
}
.col-tap10{
	width:83.33%;
	padding:0 15px;
}.col-tap11{
	width:91.66%;
	padding:0 15px;
}.col-tap12{
	width:100%;
	padding:0 15px;
}
.end{
	display:flex;
	justify-content:center;
	padding-left:60px;
}
.bann a{
	justify-content:center;
	margin-right:80px;
}
.nav_item{
	padding-left:232px;
}

.email {
  width: 335px;
    height: 181px;
    background-color: white;
    padding-left: 0;
    padding: 30px 0;
    margin-top: 32px;
    text-align: center;
    box-shadow: 0 0 30px #0000001c;
}
.third_section_img img {
    width: 100%;
    background-position: center;
    background-size: cover;
    margin-bottom: -10px;
    object-fit: cover;
}
.ban {
	width:100%;
	/* display:flex; */
	text-align:center;
}
}
@media (min-width:1000px){
.display{
  display:block;
}
}